@page "/EntradaProductos"
@page "/EntradaProductos/{EntradaId:int}"
@using Parcial2_Kissland.Client.Extensors
@inject HttpClient httpClient
@inject NotificationService notificationService

<EditForm Model="entradas" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>Registro de entrada y productos.</h3>
            </div>
            <div class=card-body>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-4">
                    <label>Entrada Id:</label>
                    <div class="input-group mb-3">
                        <InputNumber @bind-Value="entradas.EntradaId" class="form-control" aria-describedby="BotonBuscar" />
                        <button @onclick="Buscar" class="btn btn-outline-primary" 
                        type="button" id="BotonBuscar"><i class="oi oi-magnifying-glass"></i></button>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="Fecha">Fecha:</label>
                    <InputDate @bind-Value="entradas.Fecha" class="form-control" />
                    <ValidationMessage For="() => entradas.Fecha" />
                </div>

                <div class="mb-3">
                    <label class="form-label" for="Concepto">Concepto:</label>
                    <InputText @bind-Value="entradas.Concepto" class="form-control" />
                    <ValidationMessage For="() => entradas.Concepto" />
                </div>

                <div class="mb-3">
                    <label class="form-label" for="PesoTotal">PesoTotal:</label>
                    <InputNumber @bind-Value="entradas.PesoTotal" class="form-control" />
                    <ValidationMessage For="() => entradas.PesoTotal" />
                </div>

                <div class="mb-3">
                    <label class="form-label" for="CantidadProducida">CantidadProducida:</label>
                    <InputNumber @bind-Value="entradas.CantidadProducida" class="form-control" />
                    <ValidationMessage For="() => entradas.CantidadProducida" />
                </div>

                <hr>
                <fieldset>
                    <legend>Utilizados:</legend>
                    <div class="row">
                        <div class="col-4">
                            <label for="SelectP">Producto:</label>
                            <RadzenDropDown class="form-control" Data="@L_Productos.Where(p => p.ProductoId != 5)" TextProperty="Descripcion" ValueProperty="ProductoId" @bind-Value="@entradasDetalle.ProductoId"></RadzenDropDown>
                        </div>
                        <div class="col-4">
                            <label for="CantidadP">Cantidad:</label>
                            <div class="input-group">
                                <input @bind="@entradasDetalle.CantidadUtilizada" type="Text" id="CantidadP" class="form-control" />
                                <button type="button" class="btn btn-dark" @onclick="AgregarDetalle">Agregar <i class="oi oi-plus" /></button>
                            </div>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ProductoId</th>
                                <th>Descripción</th>
                                <th>Cantidad</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in entradas.EntradasDetalles)
                            {
                                <tr>
                                    <td>@item.ProductoId</td>
                                    <td>@L_Productos.FirstOrDefault(p => p.ProductoId == item.ProductoId)?.Descripcion</td>
                                    <td>@item.CantidadUtilizada</td>
                                    <td>
                                        <button class="btn btn-danger mr-2" onclick="@(() => EliminarDetalle(item))"><i class="oi oi-trash"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <hr>
                    <div class="row d-flex justify-content-center">
                        <div class="col-5">
                            <label for="Total">Cantidades totales utilizadas:</label>
                            <input @bind-value="@Total" disabled="true" type="text" class="form-control" />
                        </div>
                    </div>
                </fieldset>
                <hr>
                <fieldset>
                    <legend>Producido:</legend>
                    <div class="row">
                        <div class="col-3">
                            <RadzenDropDown class="form-control" Data="@L_Productos" TextProperty="Descripcion" ValueProperty="ProductoId" @bind-Value="@entradas.ProductoId"></RadzenDropDown>
                        </div>
                        <div class="col-2">
                            <input disabled @bind-value="@entradas.CantidadProducida" type="text" class="form-control" placeholder="Cantidad" />
                        </div>
                    </div>
                </fieldset>

            </div>
            <div class="card-footer d-flex justify-content-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-primary" @onclick="Nuevo">Nuevo <i class="oi oi-file"></i></button>
                    <button type="submit" class="btn btn-outline-success">Guardar <i class="oi oi-document"></i></button>
                    <button type="button" class="btn btn-outline-danger" @onclick="Eliminar">Eliminar <i class="oi oi-trash"></i></button>
                </div>
            </div>
        </div>
    </div>
</EditForm>
<label>@Mensaje</label>

@code {
    [Parameter]
    public int EntradaId { get; set; }
    public int ProductoId { get; set; }
    public Entradas entradas { get; set; } = new Entradas();
    public EntradasDetalle entradasDetalle { get; set; } = new EntradasDetalle();
    public string Mensaje { get; set; } = string.Empty;
    public int Total { get; set; } = 0;
    public int Cantidad { get; set; }
    public List<Productos> L_Productos { get; set; } = new List<Productos>();
    
    protected override async Task OnInitializedAsync()
    {
        var Productos = await httpClient.GetFromJsonAsync<List<Productos>>("api/Productos");

        if (Productos is not null)
        {
            L_Productos = Productos;
        }
    }

    public void Nuevo()
    {
        this.entradas = new Entradas();
        Total = 0;
        Mensaje = string.Empty;
    }
    
    public async Task Buscar()
    {
        try
        {
            var entradaEncontrada = await httpClient.GetFromJsonAsync<Entradas>($"api/Entradas/{entradas.EntradaId}");
            if (entradaEncontrada != null)
            {
                this.entradas = entradaEncontrada;
            }
            else
            {
                notificationService.ShowNotification(
                    titulo: "Error de búsqueda",
                    mensaje: "Registro no encontrado",
                    NotificationSeverity.Error);
            }
        }
        catch (Exception ex)
        {
            notificationService.ShowNotification(
                titulo: "Error de búsqueda",
                mensaje: ex.Message,
                NotificationSeverity.Error);
        }
    }

    public async Task Guardar()
    {
        try
        {
            using var response = await httpClient.PostAsJsonAsync("api/Entradas", entradas);
            response.EnsureSuccessStatusCode();

            var entradaDevuelta = await response.Content.ReadFromJsonAsync<Entradas>();
            if (entradaDevuelta != null)
            {
                notificationService.ShowNotification(
                    titulo: "Éxito",
                    mensaje: "Guardado correctamente",
                    NotificationSeverity.Success);
                this.entradas = entradaDevuelta;
            }
        }
        catch (Exception ex)
        {
            notificationService.ShowNotification(
                titulo: "Error al guardar",
                mensaje: ex.Message,
                NotificationSeverity.Error);
        }
    }

    public async Task Eliminar()
    {
        using var response = await httpClient.DeleteAsync($"api/Entradas/{entradas.EntradaId}");

        if(!response.IsSuccessStatusCode)
        {
            return;
        }
        else
        {
            Nuevo();
            notificationService.ShowNotification(titulo: "Eliminado", mensaje: "El producto se ha eliminado correctamente", NotificationSeverity.Error);
        }

        notificationService.ShowNotification(titulo: "No eliminado", mensaje: "No hay nada por eliminar", NotificationSeverity.Warning);
    }

    public bool Validar()
    {
        if (string.IsNullOrEmpty(entradas.Concepto))
        {
            return false;
        }
        if (entradas.PesoTotal < 0)
        {
            return false;
        }
        if (entradas.ProductoId < 0)
        {
            return false;
        }
        if (entradas.CantidadProducida < 0)
        {
            return false;
        }
        else
        {
            return true;
        }
    }

    public bool ValidarDetalle()
    {
        if (entradasDetalle.ProductoId < 0)
        {
            return false;
        }
        if (entradasDetalle.CantidadUtilizada < 0)
        {
            return false;
        }
        else
        {
            return true;
        }
    }

    private async Task<Productos> BuscarEntradas(int ProductoId)
    {
        var producto = await httpClient.GetFromJsonAsync<Productos>($"api/Productos/{ProductoId}");

        if(producto == null)
        {
            return new Productos();
        }

        return producto;
    }

    public async Task AgregarDetalle()
    {
        if(ValidarDetalle())
        {
            if(entradasDetalle.CantidadUtilizada <= 0)
            {
                notificationService.ShowNotification(titulo: "Error", mensaje: "La cantidad a utilizar debe ser mayor que cero", NotificationSeverity.Warning);
                return;
            }

            var producto = await BuscarEntradas(entradasDetalle.ProductoId);

            if(entradas != null)
            {
                int Suma = 0;

                if(entradasDetalle.CantidadUtilizada > producto.Existencia)
                {
                    notificationService.ShowNotification(titulo: "Error", mensaje: "La cantidad a utilizar es mayor que la existencia del producto", NotificationSeverity.Warning);
                    return;
                }

                entradasDetalle.EntradaId = entradas.EntradaId;
                entradas.EntradasDetalles.Add(entradasDetalle);
                entradasDetalle = new EntradasDetalle();

                foreach (var item in entradas.EntradasDetalles)
                {
                    Suma += item.CantidadUtilizada;
                    Total = Suma;
                }
                entradas.CantidadProducida = Total * 2;
            }
        }
    }

    public void EliminarDetalle(EntradasDetalle entradasDetalle)
    {
        this.entradas.EntradasDetalles.Remove(entradasDetalle);

        Total = this.entradas.EntradasDetalles.Sum(t => t.CantidadUtilizada);
        entradas.CantidadProducida = Total * 2;
    }
}